{% extends 'asociateyaBundle::ay_base.html.twig' %}

{% block sidebar -%}
<div id="sidebar_container" class="img_container">
	<div id="imagenBusca"><a href={{ path('emprendimiento_busqueda') }}><img src={{ asset('bundles/asociateya/Imagenes/busca.png')}} width="220" height="275"></a></div>
	<div id="imagenCrea"><a href={{ path('emprendimiento_new') }}><img src={{ asset('bundles/asociateya/Imagenes/crea.png')}} width="220" height="275"></a></div>
</div>
{% endblock -%}

{% block body -%}

<div class="content" id="home_content">
  <!-- insert the page content here -->
  <h1>&iexcl;Bienvenido!</h1>
  <p>Conseguir dinero es, probablemente, el principal obstáculo con que se topa la producción cultural en el país, en especial en lo que se refiere a proyectos independientes. Pero no solo en ese ámbito. Muchas personas también tienen dificultades para conseguir un capital inicial con el que comenzar sus emprendimientos. Sin embargo, desde hace un tiempo internet ofrece una solución. Libros, revistas, películas, documentales, obras de teatro o incluso un pequeño negocio de crochet o de manualidades pueden encontrar ese puntapié material con el que ser concretados gracias al <strong>crowdfunding</strong>.</p>
  <p>El financiamiento colectivo es un fenómeno global que suma cada vez más adeptos y que ha servido para todo tipo de proyectos. El documental estadounidense Incident in New Baghdad (2011) que recibió una nominación a los premios Oscar, fue financiada íntegramente a través de este medio. Menos convencional, en España se puso de moda pedir dinero para pagar los estudios universitarios. Incluso museos prestigiosos han recurrido a esta modalidad para costear la restauración de cuadros, como el Ashmolean Museum de Oxford.</p>
  <p><strong>¿Cómo es el mecanismo? </strong>Por lo general, se comparte un proyecto y se establece una escala de donaciones por parte de los internautas, que tienen un determinado tiempo para participar. A cambio, se ofrece una recompensa como incentivo.</p>
  <p><strong>Asociate Ya</strong> es el portal de Crowdfounding número uno en la Argentina, ya que está específicamente ligada a los microemprendimientos. ¿Querés saber mas?</p>
</div>

{% endblock %}