#portfolio_container {
	width: 580px;
	margin: 20px;
	height: auto;
}
.titulo_texto {
	height: auto;
	margin-bottom: 5px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	padding-bottom: 5px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-bottom-style: solid;
	border-top-color: #666;
	border-right-color: #666;
	border-bottom-color: #666;
	border-left-color: #666;
	margin-right: 20px;
}

.texto_elemento {
	float: right;
	height: 145px;
	width: 415px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	position: relative;
}
.creador_elemento {
	margin-top: 5px;
	margin-right: 5px;
	position: absolute;
	bottom: 4px;
	right: 4px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}

.descripcion_texto {
	height: auto;
	width: auto;
	font-family: Tahoma, Geneva, sans-serif;
	margin-right: 20px;
	font-size: 13px;
}


.imagen_elemento {
	border: 1px solid #000;
	margin: 10px;
	float: left;
	height: 130px;
	width: 130px;
}

#portfolio_container ul {
	list-style-type: none;
	padding:0; margin:0;
}

.elemento_portfolio {
	height: 150px;
	width: auto;
	padding: 0px;
	border: 0px solid #999;
	background-color: #F0F0F0;
	margin-top: 30px;
}

.link
{
   color:#333;
   text-decoration: none; 
   background-color: none;
}

.link a:link {
   color:inherit;
}

.link a:active {
    color: none;
}
