<p>Gracias por inscribirse en nuestro portal, a partir de este momento usted tiene la posibilidad de invertir y ser parte del proyecto que usted elija.
<br>
Su usuario es: {{usuario.nombreUsuario}}
<br>
Atte, AsociateYa.com</p>
