<p>Ha recibido un mensaje correspondiente al emprendimiento {{emprendimiento.nombre}}. Para contestarlo, ingrese al sitio con su usuario correspondiente.</p>
<br>
<p>Mensaje:
<br>
{{mensaje}}</p>
<br>
Atte, AsociateYa.com