<p>Gracias por completar el formulario de usuario emprendedor. Su solicitud ha sido aprobada, por lo que a partir de este momento, pasa a ser usuario emprendedor, y tendrá la posibilidad de poder aplicar para poder crear un nuevo emprendimiento y conseguir inversores para llevar a cabo sus sueños.
<br>
Atte, AsociateYa.com</p>
