<a  href={{ path('emprendimiento_show',{'id':emprendimiento.getId}) }}>
  <div style="float: left; height: 80%;width: 290; background-color: #444;margin: 10px; border-radius: 20px;">
    <h3 style="margin: 10px;"><div class="etiqueta nuevo">Nuevo!</div>{{ emprendimiento.nombre }}</h3>
    <img src={{ asset('/uploads/emprendimientos/' ~ emprendimiento.rutaImagen) }} width="250" height="250" style="margin-right:20px;margin-left: 20px; border-radius:20px;">
    <div style="margin-right:20px;margin-left: 20px;">
      <div class="etiqueta" style="font-size: 50px;">
        ${{ emprendimiento.precioAccion }}
      </div>
    </div>
  </div>
</a>
