{% extends 'asociateyaBundle::ay_base.html.twig' %}

{% block title %}Mis Emprendimientos{% endblock %}
{% block stylesheets %}
<script>
  $(document).ready(function(){
    $("#boton_emprendimientos").addClass("active");
    $(".emprendimiento").hover(function(){
      jQuery(".inversion", this).fadeIn(800);
    },function(){
      jQuery(".inversion", this).fadeOut(10);
    });
  });
</script>
{% endblock %}


{% block body -%}
<link href={{ asset('bundles/asociateya/css/emprendimientos.css')}} rel="stylesheet" type="text/css">

{% if app.user and is_granted('ROLE_EMPRENDEDOR') %}

      <div class="texto_emp">
            <div id="portfolio_container">
              <div style="float: left;" >
                Estos son los emprendimientos que ha creado:
              </div>
              <div style="text-align: right;" class="img_emp img_container">
                <a class="boton"  href={{ path('emprendimiento_new') }}>nuevo emprendimiento</a>
              </div>
            {% if entities %}
                <ul>
                    {% for entity in entities %}
                        <li class="emprendimiento">
                          {% include 'asociateyaBundle:Emprendimiento:preview.html.twig' with {entity: entity} %}
                          <div class="inversion" style="display:none;">
                          {% if entity.inversiones %}
                            <div class="elemento_mensaje">
                              <strong>Inversores</strong>
                            </div>
                            <ul class="elemento_mensaje">
                              <li style="float: left; width: 20%;" class="etiqueta">Usuario</li>
                              <div style="margin-right: 40px;">
                                <li style="float: right;width: 15%;text-align: center;" class="etiqueta" >Fecha de emision</li>
                                <li style="float: right;width: 15%;text-align: center;" class="etiqueta" >Estado</li>
                                <li style="float: right; width: 15%; text-align: center;" class="etiqueta">Participacion</li>
                                <li style="float: right; width: 15%; text-align: center;" class="etiqueta">Acciones compradas</li>
                              </div>
                            </ul>
                            {% for inversion in entity.inversiones %}
                              {% include 'asociateyaBundle:Inversion:preview.html.twig' with {inversion: inversion} %}
                            {% else %}
                            <div class="elemento_mensaje">
                              Nadie ha invertido en su emprendimiento aun.
                            </div>
                            {% endfor %}
                          {% endif %}
                          </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>No ha creado ningun emprendimiento aun.</h3>
            {% endif %}
            </div><!-- TERMINA EL PORTAFOLIO -->
      </div>

{% endif %}

{% endblock %}
