{% extends 'asociateyaBundle::ay_base.html.twig' %}

{% block title %}Mis Emprendimientos{% endblock %}
{% block stylesheets %}
<link href={{ asset('bundles/asociateya/css/emprendimientos.css')}} rel="stylesheet" type="text/css">
{% endblock %}


{% block body -%}


<div class="content emp_participo">
        <div class="texto_emp">
            <h1>Emprendimientos en los que participo</h1>
            <div id="portfolio_container">
            <ul>

                {% for entity in participo %}

                    {% include 'asociateyaBundle:Emprendimiento:preview.html.twig' with {entity: entity.emprendimiento} %}

                {% endfor %}
                
            </ul>
        </div><!-- TERMINA EL PORTAFOLIO -->
        </div>
        <div class="img_emp img_container">
        <a href="buscar_emprendimientos.html"><img src={{asset('bundles/asociateya/Imagenes/busca.png')}} width="220" height="275"></a> </div>
</div>


<div class="content emp_participo">
        <div class="texto_emp">
          <h1>Emprendimientos que he creado</h1>
        <div id="portfolio_container">
            <ul>
                {% for entity in entities %}

                    {% include 'asociateyaBundle:Emprendimiento:preview.html.twig' with {entity: entity} %}

                {% endfor %}
            </ul>
        </div><!-- TERMINA EL PORTAFOLIO -->
      </div>
      <div class="img_emp img_container">
    <a href={{ path('emprendimiento_new') }}><img src={{ asset('bundles/asociateya/Imagenes/crea.png')}} width="220" height="275"></a> </div>  
</div>

{% endblock %}

