{% if entities %}
  <div id="portfolio_container">
      <ul class="lista_resultados">
          {% for entity in entities %}
            {% if not entity.estado == 0 %}
              {% set difference = date(entity.fechaFinalizacion).diff(date('now')) %}
              {% set leftDays = difference.days %}
              {% if entity.totalAcciones > 0 %}
                {% set progresoBarra = (( entity.totalAcciones - entity.accionesRestantes ) / entity.totalAcciones)*100 %}
              {% else %}
                {% set leftDays = 10000 %}
                {% set progresoBarra = 0 %}
              {% endif %}
            {% else %}
              {% set leftDays = 10000 %}
              {% set progresoBarra = 0 %}
            {% endif %}
            <li class="resultado" data-precio="{{ entity.precioAccion }}" data-plazo="{{ leftDays }}" data-porcent="{{ progresoBarra }}">
              {% include 'asociateyaBundle:Emprendimiento:preview.html.twig' with {entity: entity} %}
            </li>
          {% endfor %}

      </ul>
      <!--REFER TO THE js/drifolio.js-->
  </div><!-- TERMINA EL PORTAFOLIO -->
{% else %}
    <h3>No se encontró ningun emprendimiento.</h3>
{% endif %}
