#portfolio_container {
	width: auto;
	height: auto;
}
.titulo_texto {
	height: auto;
	margin-bottom: 5px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	padding-bottom: 5px;
	float: none;
}

.texto_elemento {
	float: right;
	height: 145px;
	width: 415px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	position: relative;
}


#portfolio_container a:hover {
	color: #333;
}

.contenedor_derecha {
	float: right;
	width: 50%;
	height:inherit;
	vertical-align: middle;
	border-radius: 6px;
}

.contenedor_principal {
	float: left;
	width: 30%;
	vertical-align: middle;
	height: inherit;
}


.creador_elemento {
	margin-top: 5px;
	margin-right: 5px;
	position: absolute;
	bottom: 4px;
	right: 4px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	width: 236px;
}

.descripcion_texto {
	height: auto;
	width: auto;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	float: none;
}
.etiqueta {
	display: inline-block;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	width: auto;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 6px;
	background-color: #F0F0F0;
	border: 4px solid #F0F0F0;
	border-radius: 4px;
}

.precio{
	border-color: #c2f0c2;
	background-color: #c2f0c2;
}

.acciones{
	border-color: #ffcccc;
	background-color: #ffcccc;
}

.tiempo{
	border-color: #e5f9ff;
	background-color: #e5f9ff;
}



.imagen_elemento {
	border: 1px solid #999;
	margin: 5px;
	float: left;
	height: 100px;
	width: 100px;
}


#portfolio_container ul {
	list-style-type: none;
	padding:0; margin:0;
}

.elemento_portfolio {
	height: 112px;
	width: auto;
	padding: 0px;
	border-bottom: 1px solid #999;
	vertical-align: middle;
	margin-top: 2px;
}

.elemento_portfolio:hover {
	background-color: #F0F0F0;
}

.elemento_inversion {
	color: #666666;
	background-color: #cccccc;
	height: 32px;
	width: auto;
	padding: 0px;
	border-bottom: 1px solid #999;
	vertical-align: middle;
	margin-top: 2px;
}

.elemento_inversion:hover {
	background-color: #F0F0F0;
}

.elemento_mensaje {
	color: #666666;
	background-color: #F0F0F0;
	height: 32px;
	width: auto;
	padding: 0px;
	border-bottom: 1px solid #999;
	vertical-align: middle;
	text-align: center;
	margin-top: 0px;
	padding-top: 10px;
}


.link_texto_emprendimiento
{
   color:#333;
   text-decoration: none;
   background-color: none;
}

.link_texto_emprendimiento a:link {
   color:inherit;
}

.link_texto_emprendimiento a:active {
    color: none;
}

/*MIS EMPRENDIMIENTOS*/

.img_emp {
	width: auto;
	margin-top: 30px;
	margin-bottom: 20px;
}

.texto_emp {
	width: auto;
	margin: 0px;
}

.emp_participo {
	overflow: hidden;
	float: left;
	width: 880px;
	padding: 0px;
}

/*BARRA DE PROGRESO*/

.progress {
	display: inline-block;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	color: #FFF
	width: auto;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 6px;
	background-color: #F0F0F0;
	border: 4px solid #F0F0F0;
	border-radius: 4px;
	/*height:20px;*/
	/*margin-bottom:20px;*/
	overflow:hidden;
	background-color:#f5f5f5;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow:inset 0 1px 2px rgba(0,0,0,.1)
}

.progress-bar {
	float:left;
	width:0;
	height:auto;
	line-height:auto;
	color:#fff;
	text-align:center;
	background-color:#337ab7;
	-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition:width .6s ease;
	-o-transition:width .6s ease;
	transition:width .6s ease;
}

.progress-bar-striped {
	background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	-webkit-background-size:40px 40px;
	background-size:40px 40px
}
