html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #FFF;
  color: #555;
  padding-top: 100px;
}

p
{
	padding: 0 0 20px 0;
	line-height: 1.7em;
	font-size: 0.9em;
	font-family: Verdana, Geneva, sans-serif;
}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6
{ color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;}

h1, h2, h3
{ font: normal 170% 'century gothic', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #000;}

h2
{
	font-size: 135%;
	color: #000000;
}

h3
{ font-size: 140%;
  padding: 5px 0 0 0;}

h4, h6
{ color: #009FBC;
  padding: 0 0 5px 0;
  font: normal 110% arial;
  text-transform: uppercase;}

h5, h6
{ color: #888;
  font: normal 95% arial;
  letter-spacing: normal;
  padding: 0 0 15px 0;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #AEB002;}

a:hover
{ text-decoration: none;}

blockquote
{ margin: 20px 0;
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

.mensajeAlerta {
	font-size:20px;
	text-align: center;
	font-weight: bold;
	margin: 30px 0 50px 0;
}

.alertaRoja {
	color: #F00;
}

.alertaVerde {
	color:#06FB00
}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right;
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto;
  margin-right: auto;}

.header{
  text-align: center;
  position: fixed;
  z-index: 9999;
  padding: 0px;
  background-color: #323534;
  height: auto;
  width: 100%;
  top: 0;
  transition: all 300ms;
  vertical-align: middle;
  font-family:Arial;
  font-size: 20px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.7);
}


.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 20px;
    overflow: hidden;
    background-color: #333;
    text-align: center;
    cursor:pointer;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    vertical-align: middle;
}

/* Change the link color to #111 (black) on hover */
.header li a:hover {
    background-color: #111;
}
.header .active {
    background-color: #4CAF50;
}

/*Aca comienza el CSS de los botones del login y registro*/

/*myButton1 es el boton de login*/
.boton_ingresar {
	background-color:#89c403;
	color:#ffffff;
	font-weight:bold;
	width: 160px;

}
.boton_ingresar:hover {
	background-color:#77a809;
}
.boton_ingresar:active {
	position:relative;
	top:1px;
}

/*myButton2 es el boton de registro*/
.boton_registrar {
	background-color:#3d94f6;
	color:#ffffff;
	font-weight:bold;
	padding:5px 5px;
	width: 160px;
}
.boton_registrar:hover {
	background-color:#1e62d0;
}
.boton_registrar:active {
	position:relative;
	top:1px;
}
/*Aca termina el CSS de los botones del login y registro*/




#banner
{  background: transparent url(../Imagenes/banner.jpg) no-repeat;
  width: 860px;
  height: 180px;
  margin-bottom: 20px;
  border: 10px solid #DDD;}

#logo
{
	width: 880px;
	position: relative;
	height: 140px;
	background-color: #323534;
	padding: 0px;
}




ul#menu
{
  list-style-type: none;
  padding-left: 10px;
  padding-right: 40px;
}

ul#menu li
{
  float: left;
  vertical-align: middle;
}

ul#menu li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  display: block;
  height: 30px;
  padding: 5px 10px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  /*background: #5A5A5A url(../Imagenes/tab.png) no-repeat 100% 0;*/
}

 ul#menu li.selected a
{ height: 20px;
  padding: 6px 35px 5px 28px;}

#logo_izq {
	float: left;
	height: 110px;
	width: 350px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 10px;
	margin-left: 30px;
}

ul#menu li.selected
{ margin: 1px 2px 0 0;
  background: #00C6F0 url(../Imagenes/tab_selected.png) no-repeat 0 0;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ background: #00C6F0 url(../Imagenes/tab_selected.png) no-repeat 100% 0;
  color: #FFF;}

ul#menu li a:hover
{ color: #E4EC04;}

#texto_logo {
	float: left;
	height: auto;
	width: auto;
	font-size: 14px;
	color: #CCC;
	font-style: italic;
	font-family: Verdana, Geneva, sans-serif;
}

#texto_logo p
{
	padding: 0 0 20px 0;
	line-height: 1.7em;
	text-align: center;
	font-size: 0.9em;
}

#site_content
{
	width: 880px;
	overflow: hidden;
	margin: 20px auto 0 auto;
	padding: 0 0 10px 0;
	font-size: 0.8pc;
}


/*BARRAS DERECHA*/

.img_container img:hover {
	opacity: .7;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
}

#sidebar_container
{
	float: right;
	width: 224px;
	height: auto;
}

.sidebar_top
{ width: 222px;
  height: 14px;
  background: transparent url(../Imagenes/side_top.png) no-repeat;}

.sidebar_base
{ width: 222px;
  height: 14px;
  background: url(../Imagenes/side_base.png) no-repeat;}

.sidebar
{ float: right;
  width: 222px;
  padding: 0;
  margin: 0 0 16px 0;}

.sidebar_item input[type='checkbox'], input[type='radio'] {
    vertical-align: -2px;
	margin: 4px 6px 0 5px;
}

.sidebar_item label[class='titulo'] {
	margin-top: 10px;
    margin-bottom: 6px;
    margin-right: 0px;
	display:inline-block;
	width: auto;
	float: none;
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
}

.sidebar_item
{
	background: url(../Imagenes/side_back.png) repeat-y;
	padding: 0 15px;
	width: 192px;
	font-size: 14px;
}

.sidebar li a.selected
{ color: #444;}

.sidebar ul
{ margin: 0;}


/*BOTONES*/
#boton_submit {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

#boton_submit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
#boton_submit:active {
	position:relative;
	top:1px;
}



/*CONTENT*/
.content
{
	width: auto;
	float: none;
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
}
/*
.content ul
{ margin: 2px 0 22px 0px;}

.content ul li, .sidebar ul li
{ list-style-type: none;
  background: url(../Imagenes/bullet.png) no-repeat;
  margin: 0 0 0 0;
  padding: 0 0 4px 25px;
  line-height: 1.5em;}
*/

#home_content {
	float: left;
	width: 620px;
}

#emp_content {
	float: left;
	width: 620px;
}

#pag2_content {
	float: left;
	width: 620px;
}


#fotos_integrantes {
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 700px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#foto_maxi {
	float: left;
}
#foto_fede {
	float: right;
}
#foto_hernan {
	float: left;
}
#foto_franco {
	float: right;
}
.foto_integrante {
	margin: 30px;
	height: 250px;
	width: 250px;
	text-align: center;
	font-size: 16px;
	font-style: normal;
}

#footer
{
	width: 100%;
	font-family: 'trebuchet ms', sans-serif;
	font-size: 100%;
	height: 900px;
	text-align: center;
	background: #3B3939;
	color: #A8AA94;
	padding-top: 50px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0;
  margin-top: 200px;
  box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.7);
}
#footer h1{
  color: #A8AA94;
}

#footer h2{
  color: #A8AA94;
}

#imagen_logo {
	height: auto;
	width: auto;
	float: left;
	margin-top: 10px;
}
#logo_der {
	float: right;
	height: auto;
	width: auto;
	margin-top: 1px;
	margin-right: 1px;
}
#boton_login {
	height: auto;
	width: auto;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
#boton_registro {
	height: auto;
	width: auto;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#footer p
{ line-height: 1.7em;
  padding: 0 0 10px 0;}

#footer a
{ color: #A8AA94;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: none;}

.search
{ color: #5D5D5D;
  border: 1px solid #BBB;
  width: 134px;
  padding: 4px;
  font: 100% arial, sans-serif;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left;
  width: 200px;
  text-align: left;}

.form_settings input, .form_settings textarea
{ padding: 5px;
  width: 299px;
  font: 100% arial;
  border: 1px solid #E5E5DB;
  background: #FFF;
  color: #47433F;}

.form_settings .submit
{ font: 100% arial;
  border: 0;
  width: 99px;
  margin: 0 0 0 212px;
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer;
  background: #3B3B3B;
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial;
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0;
  padding: 0;
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}

#imagenBusca {
	height: auto;
	width: auto;
	padding-bottom: 10px;
}
#imagenCrea {
	height: auto;
	width: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

iframe {
	display: block;
	margin: 0 auto;
}.archivos_subidos {
	margin-left: 40px;
}
