{% extends 'asociateyaBundle::ay_base.html.twig' %}

{% block title %}Mis Inversiones{% endblock %}
{% block stylesheets %}
<link href={{ asset('bundles/asociateya/css/emprendimientos.css')}} rel="stylesheet" type="text/css">

<script>
  $(document).ready(function(){
    $("#boton_inversiones").addClass("active");
  });
</script>
{% endblock %}


{% block body -%}


<div class="content emp_participo">

        <div class="texto_emp">
            <div id="portfolio_container">
              <div style="text-align: right;" class="img_emp img_container">
                <a class="boton"  href={{ path('emprendimiento_busqueda') }}>Buscar Emprendimientos</a>
              </div>
            {% if inversiones %}
                <ul>

                    {% for inversion in inversiones %}

                      {% include 'asociateyaBundle:Inversion:inversion.html.twig' with {inversion: inversion} %}

                    {% endfor %}

                </ul>
            {% else %}
                <h3>No ha invertido en ningun emprendimiento aun.</h3>
            {% endif %}
          </div>
        </div>
</div>

{% endblock %}
