{% extends 'asociateyaBundle::ay_base.html.twig' %}

{% block tittle %}
Acerca De
{% endblock %}

{% block body %}

<h1>Acerca De</h1>
        <p>Somos el grupo &quot;Asociate Ya&quot; de la materia Proyecto final de la Universidad Tecnologica Nacional. </p>
        <p><strong>Director de Cátedra:</strong> Dra. Inés Casanovas</p>
        <p><strong>Profesor a cargo del curso:</strong> Ing. Gabriela Salem</p>
        <p><strong>Profesor a cargo del proyecto:</strong> Ing. Federico Casuseslu, Ing. Nicolás Rodriguez</p>
        <div id="fotos_integrantes">
        	<h2>Integrantes</h2>
          <div class="foto_integrante" id="foto_hernan"><img src="../style/Imagenes/fotos/Hernan.png" width="220" height="220">
          	<p>Hern&aacute;n Budic</p>
          </div>
          <div class="foto_integrante" id="foto_franco"><img src="../style/Imagenes/fotos/Franco.png" width="220" height="220">
            <p>Franco Tiberti</p>
          </div>
          <div class="foto_integrante" id="foto_maxi"><img src="../style/Imagenes/fotos/Maxi.png" width="220" height="220">
            <p>Maximiliano Rodriguez</p>
          </div>
          <div class="foto_integrante" id="foto_fede"><img src="../style/Imagenes/fotos/Fede.png" width="220" height="220">
          	<p>Federico Croci</p>
          </div>
        </div>

{% endblock %}
