{% extends 'asociateyaBundle::ay_base.html.twig' %}

{% block tittle %}
<p class="mensajeAlerta alertaVerde">{{ mensaje }}</p>
<p class="mensajeAlerta alertaRoja">{{ mensaje }}</p>
{% endblock %}

{% block body %}{{ mensaje }}{% endblock %}
