{% extends 'asociateyaBundle::ay_base.html.twig' %}

{% block tittle %}
  {{ mensaje }}
{% endblock %}

{% block body %}
  <p class="mensajeAlerta etiqueta precio" style="font-size: 16px ;width:100%;">{{ mensaje }}</p>
{% endblock %}
