{% extends 'asociateyaBundle::ay_base.html.twig' %}

{% block tittle %}
  {{ mensaje }}
{% endblock %}

{% block body %}
  <p class="mensajeAlerta alertaVerde">{{ mensaje }}</p>
  <p class="mensajeAlerta alertaRoja">{{ mensaje }}</p>
{% endblock %}
