<!DOCTYPE HTML>
<html>

<head>
  <title>Pagina 1 - Asociate Ya!</title>
  <link rel="shortcut icon" type="image/x-icon" href="style/Imagenes/iconito32.png" />
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style/css/style.css" />
</head>

<body>
  <div id="main">
    <div id="header">
    <div id="logo">
        <div id="logo_izq">
          <div id="imagen_logo"><img src="style/Imagenes/billetin.png" width="70" height="70"></div>
          <div id="texto_logo"><img src="style/Imagenes/AsociateYa-logo.png" width="250" height="50">
            <p>Crowdfounding Argentina</p>
          </div>
        </div>
        <div id="logo_der">
          <div id="boton_login">
          	<a href="log_in.html" class="myButton1">Ingresa</a>
          </div>
          <div id="boton_registro">
          	<a href="registro.html" class="myButton2">Registrate</a>
          </div>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="index.html">Hogar</a></li>
          <li><a href="emprendimientos.html">Emprendimientos</a></li>
          <li class="selected"><a href="pagina_1.html">Pagina 1</a></li>
          <li><a href="pagina_2.html">Pagina 2</a></li>
          <li><a href="AcercaDe.html">Acerca De</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id="banner">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
      <div id="content">
        <h1>Esta es la p&aacute;gina 1...</h1>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="index.html">Home</a> | <a href="emprendimientos.html">Emprendimientos</a> | <a href="pagina_1.html">Pagina 1</a> | <a href="pagina_2.html">Pagina 2</a> | <a href="AcercaDe.html">Acerca De</a></p>
      <p>Proyecto final UTN - AsociateYa</p>
    </div>
  </div>
</body>
</html>
